
<form action="/Student/Store">
    <div class="mb-3">
        <label for="Name" class="form-label">Student Name</label>
        <input type="text" name="Name" class="form-control" id="Name">
    </div>

    <div class="mb-3">
        <label for="age" class="form-label">Student Age</label>
        <input type="number" name="Age" class="form-control" id="age">
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>