@model List<Student>


    <a href="/Student/Create" class="btn btn-outline-primary">Create</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in @Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a href="/Student/Details/@item.Id">Details</a>
                    <a href="/Student/Delete/@item.Id">Delete</a>

                </td>
            </tr>
        }
       
    </tbody>
</table>